@tailwind base;
  @tailwind components;
  @tailwind utilities;
  

  .header-bg {
    background-image: url("../public/header-bg.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  .sales-activity-card {
    background-color: white;
    padding: 1rem .5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    transition: all;
  }